APP_ENV=development # Change this to production for enabling domain restrictions for signup

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NEXTAUTH_SECRET= # Added by `npx auth`

# Required by Auth.js
AUTH_TRUST_HOST=true

# Backend URL - used by the browser (clientFetch) and NextAuth server callbacks
# In dev: http://localhost:8000/api/v1
# In prod: Change it to your actual backend URL
NEXT_PUBLIC_BACKEND_URL="http://localhost:8000/api/v1"

